<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Editar Producto</h1>

    <form th:action="@{/admin/productos/editar/{id}(id=${producto.codigo})}" th:object="${producto}" method="post">
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" th:field="*{descripcion}" id="descripcion" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" th:field="*{precio}" id="precio" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="imagen">Imagen:</label>
            <input type="text" th:field="*{imagen}" id="imagen" name="imagen" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>

    <a th:href="@{/admin/productos}" class="btn btn-link">Volver al listado de productos</a>
</div>
</body>
</html>
